.header {
  font-family: 'Play', sans-serif;
  font-size: 2.5em;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.workContainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5vh;
  // border: 2px solid red;
  h3 {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
  }
  .frame {
    // border: 2px solid blue;
    position: relative;
    width: 320px;
    height: 300px;
    text-align: center;
    max-width: 100%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;

    p {
      color: whitesmoke;
      text-shadow: rgba(0, 0, 0, 0.9);
      background-color: rgba(0, 0, 0, 0.6);
      font-size: 1.2em;
      
    }

    a {
      // border: 2px solid red;
      font-size: 40px;
      z-index: 3;
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
      color: whitesmoke;
      text-decoration: none;
      background-color: none;
    }
      
      &:hover {
      box-shadow: 2px 2px 20px white;
      border: solid 2px white;
      opacity: 1;
      }
    
    &.frame1 {
      background-image: url("../../assets/tree.jpg");
      background-size: cover;
      
      :hover {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9),  rgba(0, 0, 0, 0.6)), url(../../assets/tree.jpg); 
        // transition: 0.5s;
      }
  }

  &.frame2 {
    background-image: url(../../assets/BrewDog.jpg);
    background-size: cover;
  }
    
  }

}