@import "../../variables.scss";

.cardContainer {
  margin: $base-spacing;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);

  .portfolioCard {
    position: relative;
    width: 320px;
    height: 240px;
    text-align: center;
    max-width: 100%;

    .frame {
      position: relative;
      width: 320px;
      height: 300px;
      text-align: center;
      max-width: 100%;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:hover {
        box-shadow: 2px 2px 20px white;
        border: solid 2px white;
        opacity: 1;
        }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 3;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
      }

    .portfolioCardText {
      @include flex-column-center;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      padding: 10px;

      // .text {
      //   transition: all 0.3s ease-in-out;
      //   position: absolute;
      //   top: 0;

        p {
        color: whitesmoke;
        text-shadow: rgba(0, 0, 0, 0.9);
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 1.2em;
        }
      

      .link {
        font-size: 40px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: flex-end;
        padding: 10px;
        margin-bottom: 5px;
        color: whitesmoke;
        text-decoration: none;
        background-color: none;
        height: 100%;
        border-radius: 30%;
        
          // border: 2px solid red;
          

        .fontAwesome {
          // font-size: 32px;
          // margin: $base-spacing * 2;
          font-size: 40px;
          z-index: 3;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: flex-end;
          padding: 10px;
          margin-bottom: 5px;
          color: whitesmoke;
          text-decoration: none;
          background-color: none;
          height: 100%;
          border-radius: 30%;

          &:hover path {
            color: $secondary-color;
            transition: all 0.3s ease-in-out;

            &:visited {
              text-decoration: none;
            }
          }
        }
      }

      .languages {
        position: absolute;
        bottom: 0%;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        visibility: hidden;
        opacity: 0;

        // p {
        //   background-color: $secondary-color;
        //   font-size: 18px;
        //   border-radius: 5px;
        //   padding: 2px 4px;
        //   font-weight: 900;
        //   color: $primary-color;
        //   margin: 1px;
          p {
            color: whitesmoke;
            text-shadow: rgba(0, 0, 0, 0.9);
            background-color: rgba(0, 0, 0, 0.6);
            font-size: 1.2em;

          
        }
      }
    }

    &:hover img {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      button {
        cursor: pointer;
      }
    }

    // &:hover .text {
    //   top: 15%;
    //   transition: all 0.3s ease-in-out;
    // }

    // &:hover .languages {
    //   bottom: 10%;
    //   visibility: visible;
    //   transition: all 0.3s ease-in-out;
    //   transition-delay: 0.5s;
    //   opacity: 1;
    // }

    // &:hover .links {
    //   bottom: 10%;
    //   transition: all 0.3s ease-in-out;
    // }
  }
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    .portfolioCard {
      width: 320px;
      height: 240px;
    }
  }
}

@media only screen and (min-width: 1044px) {
  .cardContainer {
    .portfolioCard {
      width: 340px;
      height: 250px;
    }
  }
}

.slideInLeft {
  -webkit-animation: slideInLeft 0.75s ease-in both;
  animation: slideInLeft 0.75s ease-in both;
}
}