.aboutContainer {
  display: flex;
  justify-content: left;
  width: 100%;
  min-height: calc(100vh - 60px);

  .about {
    width: 90%;
    margin-bottom: 5vh;

    div {
      margin-bottom: 10px;

      .fontAwesome {
        font-size: 64px;
        margin: 10px;

        &:hover path {
          color: black;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    h2 {
      font-size: 2.5em;
      margin: 10px;
    }

    p {
      font-size: 1.5em;

      a {
        font-size: 1em;
        font-weight: 900;

        &:hover {
          color: black;
        }
      }
    }

    ul {
      margin-top: 10px;
      li {
        font-size: 1.5em;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .aboutMeContainer {
    min-height: 100vh;
    justify-content: center;

    .aboutMe {
      width: 85%;
      div {
        
        h2 {
          font-size: 2.5em;
          
        }

        p {
          font-size: 2em;
        }
      }
    }
  }
}

.fadeInBck {
  -webkit-animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}