* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9),  rgba(0, 0, 0, 0.2)), url("./assets/david-becker-crs2vlkSe98-unsplash.jpg");
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  }

  .navContainer {
  
  max-height: 100vh;
  position: sticky;
  vertical-align: top;
}

  .routesContainer {
  width: 100vw;
  max-height: 100vh;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .navContainer {
    display: inline-block;
    max-height: 100vh;
    width: 25%;
    vertical-align: top;
    position: sticky;
  }

  .routesContainer {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    vertical-align: top;
  }
}

@media only screen and (min-width: 1044px) {
  .navContainer {
    width: 20%;
  }

  .routesContainer {
    width: 100vw;
    max-height: 100vh;
  }
}