.app {
  margin: 0;
  padding: 0;
  background-image: url("./assets/anna-anikina-AtH9GMAkfPE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, rgba(187, 34, 34, 0.945), transparent rgba(255,0,0,0))
}
.navContainer {
  height: 60px;
  width: 100vw;
  position: sticky;
}

.routesContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
}

@media only screen and (min-width: 768px) {
  .navContainer {
    display: inline-block;
    height: 100vh;
    width: 25%;
    vertical-align: top;
    position: sticky;
  }

  .routesContainer {
    display: inline-block;
    width: 75%;
    min-height: 100vh;
    vertical-align: top;
  }
}

@media only screen and (min-width: 1044px) {
  .navContainer {
    width: 20%;
  }

  .routesContainer {
    width: 80%;
  }
}