  
$primary-color: whitesmoke;
$secondary-color: black;
$base-spacing: 10px;


@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}