  
$primary-color: rgb(80, 79, 79);
$secondary-color: rgb(175, 175, 170);
$base-spacing: 10px;


@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}